header {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;

  img {
    max-height: 60px;
  }

  .header-content {
    display: flex;
    align-items: center;

    nav ul {
      display: flex;
      list-style: none;

      li {
        padding: 0 20px;
        color: var(--color_secondary);
        font-weight: 400;

        &.active {
          color: var(--color_primary);
          position: relative;
          font-weight: 600;

          &::after {
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 0);
            content: '';
            height: 4px;
            width: 16px;
            border-radius: 10px;
            background-color: var(--color_primary);
          }
        }
      }
    }

    &-search {
      width: 100%;
      position: relative;

      input {
        padding: 15px 20px;
        border: none;
        border-radius: 20px;
        font-size: 14px;
        color: var(--color_secondary);
        font-weight: 300;
        min-width: 300px;

        &:focus {
          outline: solid 3px var(--color_primary);
        }
      }

      img {
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;

      }
    }
  }
}