<header>
  <img src="/assets/logo.png" alt="logo" loading="lazy">
  <div class="header-content">
    <nav>
      <ul>
        <li routerLink="/home" routerLinkActive="active">home</li>
        <li routerLink="/cartas" routerLinkActive="active">cartas</li>
        <li routerLink="/decks" routerLinkActive="active">decks</li>
      </ul>
    </nav>
    <div class="header-content-search">
      <input class="shaded" type="text" placeholder="Pesquisar {{getPlaceholder}}...">
      <img src="/assets/svg/search.svg" alt="" class="svg-primary">
    </div>
  </div>
</header>