<div class="grid">
  <div class="card grid-c3 primary text-white">
    <div class="filters">
      <h3>Filtros</h3>
      <button class="btn-accent shaded">Aplicar</button>
      <div class="filters-content">
        <div class="filter-group">
          <div class="filter-group-title" (click)="typeFilterDisplay = !typeFilterDisplay">
            <img src="/assets/svg/caretDown.svg" class="svg-white {{typeFilterDisplay ? 'active' : ''}}" alt="">
            <h4>Energia</h4>
          </div>
          <ng-container *ngIf="typeFilterDisplay">
            <div class="input-group">
              <div class="input-toggle {{allTypeFiltered ? 'active' : ''}}" (click)="toggleTypeFilter('Todos')"></div>
              <p>Todos</p>
            </div>
            <div *ngFor="let type of typeFilter" class="input-group">
              <div class="input-toggle {{type.filtered ? 'active' : ''}}" (click)="toggleTypeFilter(type.type)"></div>
              <p>{{type.type}}</p>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
  <div class="card shaded grid-c9">
    <h3>Lista</h3>
    <div class="list">
      <div class="list-header text-secondary grid">
        <div class="grid-c1">
          <p>id</p>
        </div>
        <div class="grid-c4">
          <p>Nome</p>
        </div>
        <div class="grid-c2">
          <p>Tipo</p>
        </div>
        <div class="grid-c1">
          <p>Coleção</p>
        </div>
        <div class="grid-c2">
          <p>Código</p>
        </div>
        <div class="grid-c1">
          <p>Qtd</p>
        </div>
        <div class="grid-c1"></div>
      </div>
      <div class="list-content">
        <div class="grid">
          <div class="grid-c1">0</div>
          <div class="grid-c4">Greninja Radiante</div>
          <div class="grid-c2">Água</div>
          <div class="grid-c1">BRS</div>
          <div class="grid-c2">046/189</div>
          <div class="grid-c1">2</div>
          <div class="grid-c1">
            <button class="btn-primary">
              <img class="svg-white" src="/assets/svg/detail.svg" alt="">
            </button>
          </div>
        </div>
        <div class="grid">
          <div class="grid-c1">1</div>
          <div class="grid-c4">Alakazam Radiante</div>
          <div class="grid-c2">Psíquico</div>
          <div class="grid-c1">SIT</div>
          <div class="grid-c2">059/195</div>
          <div class="grid-c1">1</div>
          <div class="grid-c1">
            <button class="btn-primary">
              <img class="svg-white" src="/assets/svg/detail.svg" alt="">
            </button>
          </div>
        </div>
        <div class="grid">
          <div class="grid-c1">2</div>
          <div class="grid-c4">Heatran Radiante</div>
          <div class="grid-c2">Fogo</div>
          <div class="grid-c1">ASR</div>
          <div class="grid-c2">027/189</div>
          <div class="grid-c1">1</div>
          <div class="grid-c1">
            <button class="btn-primary">
              <img class="svg-white" src="/assets/svg/detail.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>